<!-- web-programming -->
<div class="modal fade" id="web-programming" tabindex="-1" role="dialog" aria-labelledby="web-programming">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Web Programming</h4>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>

<!-- love-music -->
<div class="modal fade" id="love-music" tabindex="-1" role="dialog" aria-labelledby="love-music">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Love Music</h4>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>

<!-- part-time-dj -->
<div class="modal fade" id="part-time-dj" tabindex="-1" role="dialog" aria-labelledby="part-time-dj">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Part Time DJ</h4>
      </div>
      <div class="modal-body">
      
      </div>
    </div>
  </div>
</div>

<!-- gamer -->
<div class="modal fade" id="gamer" tabindex="-1" role="dialog" aria-labelledby="gamer">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Gamer</h4>
      </div>
      <div class="modal-body">
      
      </div>
    </div>
  </div>
</div>

<!-- photography -->
<div class="modal fade" id="photography" tabindex="-1" role="dialog" aria-labelledby="photography">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Photography</h4>
      </div>
      <div class="modal-body">
      
      </div>
    </div>
  </div>
</div>


<!-- Works -->
<div class="modal fade" id="built-io" tabindex="-1" role="dialog" aria-labelledby="built-io">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Built.io</h4>
      </div>
      <div class="modal-body">
      
      </div>
    </div>
  </div>
</div>

<!-- 
data-toggle="modal" data-target="#web-programming"
data-toggle="modal" data-target="#love-music"
data-toggle="modal" data-target="#part-time-dj"
data-toggle="modal" data-target="#gamer"
data-toggle="modal" data-target="#photography"

data-toggle="modal" data-target="#built-io"
-->